services:
  imgshare_bot:
    build: .
    command: ./bin/imgshare_bot
    env_file: .env
    depends_on:
      - imgshare
    environment:
      - SERVER=imgshare
    restart: always
  imgshare:
    build: .
    command: ./imgshare_entrypoint.sh
    environment:
      - DBHOST=imgshare_db
      - DBPORT=5432
      - DBSSL=disable
    ports:
      - 8080:8080
      - 5123:5123
      - 51234:51234
    env_file: .env
    depends_on:
      - db
    restart: always
  imgshare_db:
    image: postgres
    restart: always
    env_file: .env
